:root{
    --baseAnimElementSize: 5px;

    --dotsSequenceSize: calc(var(--baseAnimElementSize) * 1.5);
    --circleSize: calc(calc(var(--baseAnimElementSize) * 4) + 2px);
    --dotSpinSize: calc(var(--baseAnimElementSize) * 2);
    --dotsWinLikeSize: var(--dotsSequenceSize);
}

/* DOTS */

@keyframes loadingAnimDotsSequence {
    100% { transform: scale(1.6); }
}

.loadAnimDotsSequenceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
    .loadAnimDotsSequenceContainer > * {
        width: var(--dotsSequenceSize);
        height: var(--dotsSequenceSize);
        margin: 0 8px;

        border-radius: 50%;
        background-color: var(--primary-color);
    }
    .loadAnimDotsSequenceContainer > *:nth-child(1){
        animation: loadingAnimDotsSequence 0.6s ease-in-out infinite alternate;
    }
    .loadAnimDotsSequenceContainer > *:nth-child(2){
        animation: loadingAnimDotsSequence 0.6s ease-in-out infinite alternate 0.2s;
    }
    .loadAnimDotsSequenceContainer > *:nth-child(3){
        animation: loadingAnimDotsSequence 0.6s ease-in-out infinite alternate 0.4s;
    }


/* CIRCLE */

@keyframes loadingAnimCircle {

    100% { transform: rotate(360deg); }
}

.loadAnimCircleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
    .loadAnimCircleContainer > * {
        width: var(--circleSize);
        height: var(--circleSize);
        margin: 0 8px;

        border-radius: 50%;
        border: var(--baseAnimElementSize) dotted var(--primary-color);
        background-color: transparent;

        animation: loadingAnimCircle 3s linear infinite;
    }

/* DOT SPIN */

@keyframes loadingAnimDotStretch1 {
    100% { rotate: 3600deg }
}

.loadAnimDotSpinContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
    .loadAnimDotSpinContainer > * {
        width: var(--dotSpinSize);
        height: var(--dotSpinSize);
        margin: 0 8px;

        border-radius: 50%;
        background-color: var(--primary-color);

        transform: scale(1, 2);
        animation: loadingAnimDotStretch1 5s linear infinite;
    }

/* WINDOWS LIKE */

@keyframes loadingAnimWinLike{
    0% { transform: rotate(var(--initialPos)); }
    /*1% { transform: rotate(var(--initialPos)); }*/
    100% { transform: rotate(calc(var(--initialPos) + 360deg)); }
}

.loadWinLikeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
    .loadWinLikeContainer > * {
        position: absolute;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .loadWinLikeContainer > *:nth-child(1) {
        --initialPos: 25deg;
        animation: loadingAnimWinLike ease-in-out 2s infinite running;
    }
    .loadWinLikeContainer > *:nth-child(2) {
        --initialPos: 15deg;
        animation: loadingAnimWinLike ease-in-out 2s infinite 100ms running;
    }
    .loadWinLikeContainer > *:nth-child(3) {
        --initialPos: 5deg;
        animation: loadingAnimWinLike ease-in-out 2s infinite 200ms running;
    }
    .loadWinLikeContainer > *:nth-child(4) {
        --initialPos: -5deg;
        animation: loadingAnimWinLike ease-in-out 2s infinite 300ms running;
    }
    .loadWinLikeContainer > *:nth-child(5) {
        --initialPos: -15deg;
        animation: loadingAnimWinLike ease-in-out 2s infinite 400ms running;
    }
    .loadWinLikeContainer > *:nth-child(6) {
        --initialPos: -20deg;
        animation: loadingAnimWinLike ease-in-out 2s infinite 500ms running;
    }
        .loadWinLikeContainer > * > * {
            position: relative;
            bottom: 20px;
            width: var(--dotsWinLikeSize);
            height: var(--dotsWinLikeSize);
            border-radius: 100%;
            background-color: var(--primary-color);
        }